@charset "UTF-8";

head{
    font-size: 100%;
    font-family:'Times New Roman', Times, serif;

    margin: 20px;
}
body{
    background-color:blueviolet;
    margin: 20px;
    color:burlywood
}
header{
    background-color: chartreuse;
    margin: 20px;
    color:blueviolet;
}
section{
    background-color: chocolate;
    margin: 20px;
    color:chartreuse;
}
footer{
    background-color: crimson;
    margin: 20px;
    color:blanchedalmond;
}
h1{
    color:red;
}
h2{
    color: blue;
}